:root {
  --cor-principal: #BF0436; /* define a cor principal*/
}

.header{
  background: var( --cor-principal);
}
.header h1{
  color: #fff;
}
#intro{
  height: 800px;
  background-image: url(baby/png/background.png);
  background-position: center;
  background-size: cover;
  
}
#intro h1{
  font-weight: bold;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 1);
  color:  var( --cor-principal);
}
#intro p{
  font-weight: bold;
}

#text-intro{
padding: 240px 0px 240px 0px;
}
#vidro{
  height: 200px;
  padding-top: 80px;
}
#manutencao{
  height: 200px;
  padding-top: 80px;
}
#gel{
  height: 200px;
  padding-top: 80px;
}
img{
  max-height: 1000px;
  max-width: 700px;
  margin: 0 auto;
}

.servicos-btn{
  width: 200px;
  height: 70px;
  border-color: #e33f5f;
  background: #fff;
  color: var( --cor-principal);
}

.servicos-btn:hover{
  
  border-color: #000;
  background: #D90479;
  color: #fff;
}

/* servicos*/

.bg-servicos{
  background: var( --cor-principal);
}

.cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

.vidro{
  margin-top: -25px;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


/*Contato */

.whatsapp-link {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 1000;
}

.fa-whatsapp {
  margin-top: 16px;
}


.instagran-link{
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  left: 40px;

  /* gradiente do instagran*/

  background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 1px 1px 2px #888;
  z-index: 100;
}

.fa-instagram{
  margin-top: 16px;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background: #D90479;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}

/* footer */

footer{
  margin-top: 62px;
}
.bg-footer{
  background: var( --cor-principal);
  font-size: 1.5em;
  color: #fff;
}

/* bootstrap*/

.display-4:after{
  content: "";
  display: block;
  width: 120px;
  height: 3px;
  background: #000;
  margin: 16px auto ;

}

.display-4-white:after{
content: "";
display: block;
width: 120px;
height: 3px;
background: #fff;
margin: 16px auto ;
}

.carousel .slide img{
  border-radius: 50%;
}